<div class="landing">
  <app-navbar> </app-navbar>
  <div class="landing__wrapper container">
    <div class="background">
      <img src="assets/Triangle (4).svg" class="penrose" alt="" />
      <img src="assets/Shadow.svg" class="shadow" alt="" />
      <img src="assets/img/Model@2x/Model@2x.png" class="model" alt="" />
    </div>
    <div class="header">
      <img src="assets/Title.svg" alt="" class="text" />
      <div class="video" [ngClass]="{ active: video === true }">
        <button (click)="showVideo()">
          <mat-icon class="play__icon">play_arrow</mat-icon>
        </button>
        <iframe
          width="160"
          height="90"
          src="https://www.youtube.com/embed/UOxkGD8qRB4?start=14"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <img src="assets/Triangle.svg" alt="" />
        <img src="assets/Shadow (1).svg" alt="" class="cover__shadow" />
      </div>
    </div>
    <div class="testimonials">
      <app-carousel [testimonials]="quotes"></app-carousel>
    </div>
  </div>
</div>
